

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    :css
      div.bar {
        display: inline-block;
        width: 20px;
        height: 75px;   /* We'll override this later */
        background-color: teal;
      }

  %body

    %h1 Events#index
    / %p #{@visits}
    / %p #{@ips}


    / %p #{@events.count}
    / %p #{@clicks.count}

    %svg.chart
    
    %script{:charset => "utf-8", :src => "http://d3js.org/d3.v3.min.js"}
    :javascript
      var dataset = #{ raw @visits.to_json };
      var width = 960,
        height = 500;


      d3.select("body").selectAll("div")
          .data(dataset)
          .enter()
          .append("div")
          .attr("class", "bar")
          .style("height", function(d) {
            var barHeight = d * 3;
            return barHeight + "px"; 
          });
      

/ %canvas#canvas{:height => "100", :width => "200"}