!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    :css
      div.bar {
    
      }

  %body

    %h1 Events#index
    %p #{@visits}
    %p #{@ips}
    / %p #{@ips}
    / %p #{@emails}
    / %p #{@emails}


    / %p #{@events.count}
    / %p #{@clicks.count}

    / %svg.chart
    
    %script{:charset => "utf-8", :src => "http://d3js.org/d3.v3.min.js"}
    :javascript
      var margin = {top: 20, right: 20, bottom: 30, left: 40}; 
      var dataset = #{ raw @visits.to_json };
      var datalabels = #{ raw @ips.to_json };
      var w = 800; 
      var h = 100; 
      barPadding = 1;

      var svg = d3.select("body")
                  .append("svg")
                  .attr("width", w)
                  .attr("height", h);

      var xScale = d3.scale.ordinal()
          .domain(datalabels)
          .rangeRoundBands([margin.left, w], 0.05);

      var xAxis = d3.svg.axis().scale(xScale)
          .orient("bottom");

      svg.selectAll("rect")
          .data(dataset)
          .enter()
          .append("rect")
          .attr("x", function(d, i) {
              return i * (w / dataset.length); 
          })
          .attr("y", function(d) {
            return h - 5 * d;
          })
          .attr("width", w / dataset.length - barPadding)
          .attr("height", function(d) {
              return 5 * d;
          })
          .attr("fill", "green");

      svg.append("text")
        .attr("x", 265 )
        .style("text-anchor", "middle")
        .text("Visitor IP Address");

       svg.append("g")
        .attr("class", "x axis")
        .call(xAxis);
